.App {
  text-align: center;
  background-color: green;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
button:hover,input[type=submit]{
  background-color: #4CAF50;
}
button:not(:disabled) {
  background-color: #4CAF50;
  color: #4CAF50;
  content: green;
}
.btn-success.focus, .btn-success:focus {
  background-color: #4CAF50;
  color: #4CAF50;
  content: green;
}